nlp2sql数据库查询助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 07-nlp2sql数据库查询助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.12@680ddc73a743030de0cb8f6dafe33519683f61cd8dee6abdb531bd6eb0ab74a6
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: hjlarry/database:0.0.6@534bc26cf5bc4ff6b5557457452287ccc71f00eef9378784c4f43ca49954ca2f
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/echarts:0.0.1@e390de4320a5ab32ef24899983f84c31aa39e4690c7b294be11f2c10268c3a68
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1770712067274-llm
      source: '1770712067274'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: answer-source-1770712543395-target
      source: answer
      sourceHandle: source
      target: '1770712543395'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1770712543395-source-1770712671907-target
      source: '1770712543395'
      sourceHandle: source
      target: '1770712671907'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: iteration
      id: 1770712671907-source-1770712996478-target
      source: '1770712671907'
      sourceHandle: source
      target: '1770712996478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1770712996478'
        sourceType: iteration-start
        targetType: code
      id: 1770712996478start-source-1770713079658-target
      source: 1770712996478start
      sourceHandle: source
      target: '1770713079658'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1770712996478'
        sourceType: code
        targetType: tool
      id: 1770713079658-source-1770713202204-target
      source: '1770713079658'
      sourceHandle: source
      target: '1770713202204'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1770712996478-source-1770713386582-target
      source: '1770712996478'
      sourceHandle: source
      target: '1770713386582'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1770713386582-source-1770714562894-target
      source: '1770713386582'
      sourceHandle: source
      target: '1770714562894'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1770714562894-source-1770714703494-target
      source: '1770714562894'
      sourceHandle: source
      target: '1770714703494'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1770714703494-source-1770715025633-target
      source: '1770714703494'
      sourceHandle: source
      target: '1770715025633'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1770715025633-source-1770715169644-target
      source: '1770715025633'
      sourceHandle: source
      target: '1770715169644'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: if-else
      id: 1770715169644-source-1770715268411-target
      source: '1770715169644'
      sourceHandle: source
      target: '1770715268411'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1770715268411-a0011108-5e7b-4dbe-9ea5-9c66f03def27-1770715371298-target
      source: '1770715268411'
      sourceHandle: a0011108-5e7b-4dbe-9ea5-9c66f03def27
      target: '1770715371298'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1770715268411-588aab85-c692-406e-aa76-ed6d831507b8-1770715384026-target
      source: '1770715268411'
      sourceHandle: 588aab85-c692-406e-aa76-ed6d831507b8
      target: '1770715384026'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1770715268411-de668c84-1898-4d52-8c7b-af3d2fc848a3-1770715400176-target
      source: '1770715268411'
      sourceHandle: de668c84-1898-4d52-8c7b-af3d2fc848a3
      target: '1770715400176'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1770715371298-source-1770715491729-target
      source: '1770715371298'
      sourceHandle: source
      target: '1770715491729'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1770715384026-source-1770715528695-target
      source: '1770715384026'
      sourceHandle: source
      target: '1770715528695'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1770715400176-source-1770715559344-target
      source: '1770715400176'
      sourceHandle: source
      target: '1770715559344'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1770712067274'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: 用户问题：{{#sys.query#}}
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 0fd74a03-d9d6-4d86-b6f7-13af6a0462eb
          role: system
          text: "## 角色\n你是一个专业的SQL查询生成器，负责根据用户查询创建标准的MySQL数据库SQL语句。\n\n## 任务\n根据以下问题，生成一个格式清晰、结构明确的JSON数组，其中每个元素是一条合法且性能优化的MySQL查询语句。\n\
            \n### 表信息\n表名：student_grades（学生成绩信息表）\n\n### 字段说明\n- id: 主键\n- student_id:\
            \ 学号\n- student_name: 学生姓名\n- class_name: 班级\n- subject: 科目\n- score:\
            \ 分数\n- exam_date: 考试日期\n- semester: 学期\n- grade: 年级\n- created_at: 记录创建时间\n\
            - updated_at: 记录更新时间\n\n### 输出要求\n1. 根据用户的问题，生成最多10条直接关联问题的SQL查询语句。\n\
            2. 每条SQL应从不同分析角度（如按科目、班级、学期、年级等维度）切入，确保覆盖多维统计需求。\n3. 所有SQL必须语法正确、可执行，并注重性能优化（如避免SELECT\
            \ *，合理使用索引字段等）。\n4. 若问题涉及多维统计（例如“各班各科平均分”），请为每个统计维度单独生成子查询。\n5. 对于全量数据查询，必须按semester（学期）进行聚合或排序。\n\
            6. 最终输出必须是纯JSON数组格式，以 ```json 开头，以 ``` 结尾，不包含任何额外解释或文本，其中每个元素必须是对象，且仅包含一个字段：`\"\
            sql\"`**（字符串类型），格式示例：\n   ```json\n   [\n     { \"sql\": \"SELECT ...;\"\
            \ },\n     { \"sql\": \"SELECT ...;\" }\n   ]\n\n请严格按照上述格式和要求生成响应。"
        - role: user
          text: 查询全校各科目平均分情况
        - role: assistant
          text: '​```json

                       [

                {

                    "title": "统计全校各科目平均分",

                    "sql": "SELECT subject, ROUND(AVG(score), 2) AS avg_score FROM
            student_scores GROUP BY subject ORDER BY avg_score DESC;"

                },

                {

                    "title": "统计各科目及格率",

                    "sql": "SELECT subject, ROUND(COUNT(CASE WHEN score >= 60 THEN
            1 END) * 100.0 / COUNT(*), 2) as pass_rate FROM student_scores GROUP BY
            subject ORDER BY pass_rate DESC;"

                },

                {

                    "title": "统计各科目成绩分布",

                    "sql": "SELECT subject, COUNT(CASE WHEN score >= 90 THEN 1 END)
            as excellent, COUNT(CASE WHEN score >= 75 AND score < 90 THEN 1 END) as
            good, COUNT(CASE WHEN score >= 60 AND score < 75 THEN 1 END) as pass,
            COUNT(CASE WHEN score < 60 THEN 1 END) as fail FROM student_scores GROUP
            BY subject;"

                }

            ]

            ​```'
        selected: false
        title: LLM生成SQL语句
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '### SQL 正在生成中

          '
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 100
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "# 导入正则表达式模块，用于字符串模式匹配\nimport re  \n # 导入JSON模块，用于处理JSON数据\nimport\
          \ json \n\n# 定义函数，用于从输入字符串中提取和解析JSON数据，返回字典\ndef main(input_string: str)\
          \ -> dict:  \n    # 使用正则表达式查找并提取被 ```json 和 ``` 包裹的内容\n    pattern_match\
          \ = re.search(r'```json\\s*([\\s\\S]*?)\\s*```', input_string)\n     # 如果没有找到匹配的内容\n\
          \    if not pattern_match: \n        raise ValueError(\"输入字符串中未找到有效的 JSON\
          \ 数据\") \n    \n    # 提取匹配到的JSON字符串，并去除前后空白\n    json_content = pattern_match.group(1).strip()\n\
          \    # 尝试解析JSON字符串\n    try:  \n        # 将提取的JSON字符串解析为Python字典\n     \
          \   parsed_json = json.loads(json_content)\n    # 如果解析过程中发生JSON解码错误\n  \
          \  except json.JSONDecodeError as err:  \n        raise ValueError(f\"JSON\
          \ 解析失败: {err}\") \n    \n    # 返回一个包含解析结果的字典\n    return {\n        \"result\"\
          : parsed_json, \n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: input_string
      height: 52
      id: '1770712543395'
      position:
        x: 1026.5056838989258
        y: 297.5056838989258
      positionAbsolute:
        x: 1026.5056838989258
        y: 297.5056838989258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '### SQL生成完成

          '
        selected: false
        title: 直接回复SQL生成
        type: answer
        variables: []
      height: 100
      id: '1770712671907'
      position:
        x: 1349.065484808607
        y: 289.8899164175435
      positionAbsolute:
        x: 1349.065484808607
        y: 289.8899164175435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: remove-abnormal-output
        flatten_output: true
        height: 376
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '1770712543395'
        - result
        output_selector:
        - '1770713202204'
        - json
        output_type: array[object]
        parallel_nums: 10
        selected: false
        start_node_id: 1770712996478start
        title: 迭代
        type: iteration
        width: 470
      height: 376
      id: '1770712996478'
      position:
        x: 1652.4920571927194
        y: 290.8890708379374
      positionAbsolute:
        x: 1652.4920571927194
        y: 290.8890708379374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 470
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1770712996478start
      parentId: '1770712996478'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1676.4920571927194
        y: 358.8890708379374
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "\ndef main(args: dict) -> dict:\n    # 提取输入字典的字段\n    title = args.get(\"\
          title\", \"\")\n    sql = args.get(\"sql\", \"\")\n    \n    # 返回包含 title\
          \ 和 sql 的字典\n    return {\n        \"title\": title,\n        \"sql\": sql\n\
          \    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1770712996478'
        outputs:
          sql:
            children: null
            type: string
          title:
            children: null
            type: string
        selected: false
        title: 迭代内部代码执行
        type: code
        variables:
        - value_selector:
          - '1770712996478'
          - item
          value_type: object
          variable: args
      height: 52
      id: '1770713079658'
      parentId: '1770712996478'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1780.4920571927194
        y: 358.8890708379374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1770712996478'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The SQL query string.
            ja_JP: The SQL query string.
            pt_BR: The SQL query string.
            zh_Hans: SQL 查询语句。
          label:
            en_US: SQL Query
            ja_JP: SQL Query
            pt_BR: SQL Query
            zh_Hans: SQL 查询语句
          llm_description: The SQL query string.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            ja_JP: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            pt_BR: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            zh_Hans: 选填，填写后将覆盖授权时填写的数据库连接。
          label:
            en_US: DB URI
            ja_JP: DB URI
            pt_BR: DB URI
            zh_Hans: DB URI
          llm_description: ''
          max: null
          min: null
          name: db_uri
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: json
          form: form
          human_description:
            en_US: Choose the output format.
            ja_JP: Choose the output format.
            pt_BR: Choose the output format.
            zh_Hans: 选择输出格式。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: format
          options:
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          - icon: ''
            label:
              en_US: CSV
              ja_JP: CSV
              pt_BR: CSV
              zh_Hans: CSV
            value: csv
          - icon: ''
            label:
              en_US: YAML
              ja_JP: YAML
              pt_BR: YAML
              zh_Hans: YAML
            value: yaml
          - icon: ''
            label:
              en_US: Markdown
              ja_JP: Markdown
              pt_BR: Markdown
              zh_Hans: Markdown
            value: md
          - icon: ''
            label:
              en_US: Excel
              ja_JP: Excel
              pt_BR: Excel
              zh_Hans: Excel
            value: xlsx
          - icon: ''
            label:
              en_US: HTML
              ja_JP: HTML
              pt_BR: HTML
              zh_Hans: HTML
            value: html
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            ja_JP: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            pt_BR: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            zh_Hans: '选填项。例如 {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              更多连接选项可参考 https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
          label:
            en_US: DB Config Options
            ja_JP: DB Config Options
            pt_BR: DB Config Options
            zh_Hans: 数据库连接配置选项
          llm_description: ''
          max: null
          min: null
          name: config_options
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          config_options: ''
          db_uri: ''
          format: ''
          query: ''
        plugin_id: hjlarry/database
        plugin_unique_identifier: hjlarry/database:0.0.6@534bc26cf5bc4ff6b5557457452287ccc71f00eef9378784c4f43ca49954ca2f
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=f8bf70f4-1058-4e5c-9161-0c45a1003611&filename=65d2d7404efb4952bb715a35ae79ccce92e70b820fd6cdb74e9acc58a505f7cf.svg
        provider_id: hjlarry/database/database
        provider_name: hjlarry/database/database
        provider_type: builtin
        selected: false
        title: SQL Execute
        tool_configurations:
          config_options:
            type: mixed
            value: null
          format:
            type: constant
            value: json
        tool_description: 此工具用于在已存在的数据库中执行 SQL 查询。
        tool_label: SQL Execute
        tool_name: sql_execute
        tool_node_version: '2'
        tool_parameters:
          db_uri:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#1770713079658.sql#}}'
        type: tool
      height: 114
      id: '1770713202204'
      parentId: '1770712996478'
      position:
        x: 124.01278379705013
        y: 186.72229036789844
      positionAbsolute:
        x: 1776.5048409897695
        y: 477.61136120583586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(args) -> dict:\n    return {\n        \"result\": \"\".join(str(item)\
          \ for item in args)\n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行循环体结果
        type: code
        variables:
        - value_selector:
          - '1770712996478'
          - output
          value_type: array[object]
          variable: args
      height: 52
      id: '1770713386582'
      position:
        x: 2226.199617796792
        y: 321.3502209337327
      positionAbsolute:
        x: 2226.199617796792
        y: 321.3502209337327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '### SQL 计算完毕,模型正在汇总中...

          '
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 100
      id: '1770714562894'
      position:
        x: 2517.61108367215
        y: 312.1777119918151
      positionAbsolute:
        x: 2517.61108367215
        y: 312.1777119918151
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1770713386582'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: b8bdf3c2-aa7f-431d-8710-cfb98b649e8c
          role: system
          text: "### 角色\n你是一个数据分析师，需要基于前一个模型生成的SQL语句及其执行结果，优先针对用户问题进行回答，确保回答内容紧扣主题不发散，同时对相关维度的数据进行分析，并以JSON格式输出给用户。\n\
            \n### 参数\n- **用户输入**：{{#sys.query#}}\n- **SQL 模型生成**：{{#llm.text#}}\n\
            - **SQL 查询结果**：{{#context#}}\n\n### 图表使用场景\n- 线性图：适用于展示趋势变化的数据，例如时间序列数据（如每月或每年的变化趋势）。\n\
            - 柱状图：适用于比较不同类别之间的数量或占比，例如各城市的占比情况。\n- 饼状图：适用于展示整体组成部分及其比例，通常用于单维度的比例分布。\n\
            \n### 要求：\n1. 优先回答用户问题，确保回答内容紧扣主题不发散。\n2. 根据用户问题选择合适的线性图、柱状图或饼状图。\n3.\
            \ 将输出内容封装到JSON中，格式如下：\n​```json\n{\n  \"results\": \"用Markdown格式先回复用户问题，其他维度数据简单概括，但必须完整展示数据\"\
            ,\n  \"ECHarts\": \"1\", // 如果需要生成图表，则为 \"1\"；否则为 \"0\"\n  \"chartType\"\
            : \"线性图/柱状图/饼状图\", // 图表类型（仅当 ECHarts 为 \"1\" 时提供）\n  \"chartTitle\":\
            \ \"图表标题\", // 图表标题（仅当 ECHarts 为 \"1\" 时提供）\n  \"chartData\": \"图表的数据，多个用;隔开\"\
            , // 图表数据（仅当 ECHarts 为 \"1\" 时提供）\n  \"chartXAxis\": \"图表的X轴，多个用;隔开\"\
            \ // 图表的X轴数据（仅当 ECHarts 为 \"1\" 时提供）\n}\n​```\n\n#### 注意事项：\n- 如果查询结果适合生成图表，则将\
            \ ECHarts 设置为 \"1\"，并补充 chartType、chartTitle、chartData 和 chartXAxis 字段。\n\
            - 如果查询结果不适合生成图表，则将 ECHarts 设置为 \"0\"，并省略 chartType、chartTitle、chartData\
            \ 和 chartXAxis 字段。\n- 对于占比查询，必须使用饼状图进行展示，且在饼状图的 chartData 中返回百分比值。"
        selected: false
        title: LLM 汇总结果
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1770714703494'
      position:
        x: 2872.068301824805
        y: 321.3502209337327
      positionAbsolute:
        x: 2872.068301824805
        y: 321.3502209337327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nimport json\n\ndef main(args: str) -> dict:\n    # 默认返回值\n\
          \    default_output = {\n        \"results\": \"\",\n        \"ECHarts\"\
          : \"0\",\n        \"chartType\": \"\",\n        \"chartTitle\": \"\",\n\
          \        \"chartData\": \"\",\n        \"chartXAxis\": \"\"\n    }\n   \
          \ \n    try:\n        # 使用正则表达式提取被 ```json 和 ``` 包裹的内容\n        match =\
          \ re.search(r'```json\\s*([\\s\\S]*?)\\s*```', args)\n        if not match:\n\
          \            raise ValueError(\"输入字符串中未找到有效的 JSON 数据\")\n        \n    \
          \    # 提取 JSON 字符串\n        json_str = match.group(1).strip()\n        \n\
          \        # 将 JSON 字符串解析为 Python 字典\n        results_dict = json.loads(json_str)\n\
          \    except Exception as e:\n        # 如果解析失败，打印错误信息并返回默认输出\n        print(f\"\
          解析失败: {e}\")\n        return default_output\n    \n    # 检查是否包含 ECHarts\
          \ 字段\n    if \"ECHarts\" not in results_dict:\n        results_dict[\"ECHarts\"\
          ] = \"0\"  # 默认设置为 \"0\"\n    \n    # 根据 ECHarts 的值动态检查图表相关字段\n    if results_dict[\"\
          ECHarts\"] == \"1\":\n        required_chart_fields = [\"chartType\", \"\
          chartTitle\", \"chartData\", \"chartXAxis\"]\n        for field in required_chart_fields:\n\
          \            if field not in results_dict:\n                results_dict[field]\
          \ = \"\"  # 自动补全缺失字段为空字符串\n    \n    # 构造返回值\n    return {\n        \"results\"\
          : str(results_dict.get(\"results\", \"\")),\n        \"ECHarts\": str(results_dict.get(\"\
          ECHarts\", \"0\")),\n        \"chartType\": str(results_dict.get(\"chartType\"\
          , \"\")),\n        \"chartTitle\": str(results_dict.get(\"chartTitle\",\
          \ \"\")),\n        \"chartData\": str(results_dict.get(\"chartData\", \"\
          \")),\n        \"chartXAxis\": str(results_dict.get(\"chartXAxis\", \"\"\
          ))\n    }"
        code_language: python3
        outputs:
          ECHarts:
            children: null
            type: string
          chartData:
            children: null
            type: string
          chartTitle:
            children: null
            type: string
          chartType:
            children: null
            type: string
          chartXAxis:
            children: null
            type: string
          results:
            children: null
            type: string
        selected: false
        title: 代码执行生成Echarts参数
        type: code
        variables:
        - value_selector:
          - '1770714703494'
          - text
          value_type: string
          variable: args
      height: 52
      id: '1770715025633'
      position:
        x: 3190.0381828755244
        y: 336.14226859733185
      positionAbsolute:
        x: 3190.0381828755244
        y: 336.14226859733185
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 代码执行生成{{#1770715025633.results#}}
        selected: false
        title: 直接回复 4
        type: answer
        variables: []
      height: 118
      id: '1770715169644'
      position:
        x: 3528.1096081305996
        y: 326.091496495154
      positionAbsolute:
        x: 3528.1096081305996
        y: 326.091496495154
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 1e7d3bca-916a-49b6-ad88-291cc29c932a
            value: '0'
            varType: string
            variable_selector:
            - '1770715025633'
            - ECHarts
          id: 'true'
          logical_operator: and
        - case_id: a0011108-5e7b-4dbe-9ea5-9c66f03def27
          conditions:
          - comparison_operator: contains
            id: c1043d7a-ae96-4449-a355-a637d4110e42
            value: 线性图
            varType: string
            variable_selector:
            - '1770715025633'
            - chartType
          logical_operator: and
        - case_id: 588aab85-c692-406e-aa76-ed6d831507b8
          conditions:
          - comparison_operator: contains
            id: 36493020-e42b-4d36-a223-9246ab4e32b1
            value: 柱状图
            varType: string
            variable_selector:
            - '1770715025633'
            - chartType
          logical_operator: and
        - case_id: de668c84-1898-4d52-8c7b-af3d2fc848a3
          conditions:
          - comparison_operator: contains
            id: 0a7be1ce-280e-49f6-b3a9-6f5bf11733b9
            value: 饼状图
            varType: string
            variable_selector:
            - '1770715025633'
            - chartType
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 268
      id: '1770715268411'
      position:
        x: 3850.8891416192664
        y: 303
      positionAbsolute:
        x: 3850.8891416192664
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成线性图表的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating linear chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: X axis for chart, each text should be separated by ";"
            ja_JP: X axis for chart, each text should be separated by ";"
            pt_BR: X axis for chart, each text should be separated by ";"
            zh_Hans: 线性图表的 x 轴，每个文本之间用 ";" 分隔
          label:
            en_US: X Axis
            ja_JP: X Axis
            pt_BR: X Axis
            zh_Hans: x 轴
          llm_description: x axis for linear chart, x axis should be a string contains
            a list of texts like "a;b;c;1;2" in order to match the data
          max: null
          min: null
          name: x_axis
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          title: ''
          x_axis: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.1@e390de4320a5ab32ef24899983f84c31aa39e4690c7b294be11f2c10268c3a68
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=f8bf70f4-1058-4e5c-9161-0c45a1003611&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 线性图表
        tool_configurations: {}
        tool_description: 线性图表
        tool_label: 线性图表
        tool_name: line_chart
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: '{{#1770715025633.chartData#}}'
          title:
            type: mixed
            value: '{{#1770715025633.chartTitle#}}'
          x_axis:
            type: mixed
            value: '{{#1770715025633.chartXAxis#}}'
        type: tool
      height: 52
      id: '1770715371298'
      position:
        x: 4156.838560801548
        y: 352.4467099259406
      positionAbsolute:
        x: 4156.838560801548
        y: 352.4467099259406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成柱状图的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating bar chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: X axis for chart, each text should be separated by ";"
            ja_JP: X axis for chart, each text should be separated by ";"
            pt_BR: X axis for chart, each text should be separated by ";"
            zh_Hans: 柱状图的 x 轴，每个文本之间用 ";" 分隔
          label:
            en_US: X Axis
            ja_JP: X Axis
            pt_BR: X Axis
            zh_Hans: x 轴
          llm_description: x axis for bar chart, x axis should be a string contains
            a list of texts like "a;b;c;1;2" in order to match the data
          max: null
          min: null
          name: x_axis
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          title: ''
          x_axis: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.1@e390de4320a5ab32ef24899983f84c31aa39e4690c7b294be11f2c10268c3a68
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=f8bf70f4-1058-4e5c-9161-0c45a1003611&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 柱状图
        tool_configurations: {}
        tool_description: 柱状图
        tool_label: 柱状图
        tool_name: bar_chart
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: '{{#1770715025633.chartData#}}'
          title:
            type: mixed
            value: '{{#1770715025633.chartTitle#}}'
          x_axis:
            type: mixed
            value: '{{#1770715025633.chartXAxis#}}'
        type: tool
      height: 52
      id: '1770715384026'
      position:
        x: 4156.838560801548
        y: 439.9467099259406
      positionAbsolute:
        x: 4156.838560801548
        y: 439.9467099259406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成饼图的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating pie chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Categories for chart, each category should be separated by ";"
            ja_JP: Categories for chart, each category should be separated by ";"
            pt_BR: Categories for chart, each category should be separated by ";"
            zh_Hans: 饼图的分类，每个分类之间用 ";" 分隔
          label:
            en_US: Categories
            ja_JP: Categories
            pt_BR: Categories
            zh_Hans: 分类
          llm_description: categories for pie chart, categories should be a string
            contains a list of texts like "a;b;c;1;2" in order to match the data,
            each category should be split by ";"
          max: null
          min: null
          name: categories
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          categories: ''
          data: ''
          title: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.1@e390de4320a5ab32ef24899983f84c31aa39e4690c7b294be11f2c10268c3a68
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=f8bf70f4-1058-4e5c-9161-0c45a1003611&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 饼图
        tool_configurations: {}
        tool_description: 饼图
        tool_label: 饼图
        tool_name: pie_chart
        tool_node_version: '2'
        tool_parameters:
          categories:
            type: mixed
            value: '{{#1770715025633.chartXAxis#}}'
          data:
            type: mixed
            value: '{{#1770715025633.chartData#}}'
          title:
            type: mixed
            value: '{{#1770715025633.chartTitle#}}'
        type: tool
      height: 52
      id: '1770715400176'
      position:
        x: 4156.838560801548
        y: 524.9467099259406
      positionAbsolute:
        x: 4156.838560801548
        y: 524.9467099259406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '--------------------

          {{#1770715371298.text#}}'
        selected: false
        title: 线性结果回复
        type: answer
        variables: []
      height: 118
      id: '1770715491729'
      position:
        x: 4444.338560801548
        y: 289.8899164175435
      positionAbsolute:
        x: 4444.338560801548
        y: 289.8899164175435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '--------------------

          {{#1770715384026.text#}}'
        selected: false
        title: '柱状图结果回复 '
        type: answer
        variables: []
      height: 118
      id: '1770715528695'
      position:
        x: 4438.838560801548
        y: 434.9467099259406
      positionAbsolute:
        x: 4438.838560801548
        y: 434.9467099259406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '--------------------

          {{#1770715400176.text#}}'
        selected: false
        title: 饼图结果回复
        type: answer
        variables: []
      height: 118
      id: '1770715559344'
      position:
        x: 4455.838560801548
        y: 601.4467099259406
      positionAbsolute:
        x: 4455.838560801548
        y: 601.4467099259406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -2244.8431297890465
      y: -54.77796775576394
      zoom: 0.733098812054837
  rag_pipeline_variables: []
